		/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik:wght@400;500;700&display=swap');

/* ---------- */

body {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
}

		/* HEADER */

.header-wrapper {
	overflow: hidden;
	background: #F6F6F9;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}

.header__left {
	display: flex;
	align-items: center;
}

.left__logo {
	margin-right: 28px;
	font-weight: 700;
	box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
}

.left__logo a {
	padding: 3px 6px;
	background: white;
	font-size: 28px;
	text-decoration: none;
	color: #295091;
	border-radius: 5px;
	box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
}

.left__list {
	display: flex;
	width: 250px;
	justify-content: space-between;
}

.currencies {
	font-weight: 700;
	color: #285193;
}

.list__items {
	font-size: 16px;
	color: #7A7A7A;
	font-size: 16px;
}

.header__right {
	display: flex;
}

.right__loupe {
	padding: 11px;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.right__language {
	display: flex;
	margin-left: 22px;
	cursor: pointer;
	background: white;
	padding: 11px;
	align-items: center;
}

.language__image {
	border-radius: 50%;
	margin-right: 7px;
}

.language__text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #535353;
}

.right__block {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-left: 44px;
	padding: 0 12px;
	cursor: pointer;
	background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
}

.right__link {
	font-size: 16px;
	margin-left: 7px;
	font-weight: 500;
	color: white;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	padding: 22px 24px;
	font-size: 19px;
	font-weight: 500;
	background: white;
	border-radius: 5px;
	margin-top: 40px;
	box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
}

.navbar a {
	color: #515151;
}

.nav__image {
	margin-top: 18px;
	margin-bottom: 23px;
	width: 100%;
	border: 1px solid #E0E0E0;
}

		/* SECTION COVID */

.section__covid {
	margin-top: 22px;
	background: #F6F6F9;
	padding: 30px 70px 30px 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.covid__info {
	display: flex;
	align-items: center;
}

.info__image {
	margin-right: 25px;
}

.info__title {
	font-weight: 500;
	font-size: 20px;
	margin-right: 70px;
	line-height: 23.7px;
}

.info__text {
	font-size: 18px;
	color: #DB0000;
	line-height: 26.63px;
	margin-right: 42px;
}

.yellow {
	color: #05B135;
}

.black {
	color: black;
}

.information {
	font-weight: 500;
	font-size: 25px;
	color: black;
}

.info__line {
	width: 2px;
	height: 75px;
	background: #EB5569;
}

.info__lines {
	width: 2px;
	height: 50px;
	background: #F4CCD1;
}

.section__post {
	margin-top: 18px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.posts {
	max-width: 390px;
	min-height: 190px;
}

.posts__text {
	margin: 11px 0;
	font-weight: 500;
	font-size: 17px;
	color: #202020;
	line-height: 20.15px;
}

.posts__date {
	color: #6B6D97;
}

.mb {
	margin-bottom: 18px;
}

.section__bell {
	display: flex;
	justify-content: space-between;
	padding: 25px 20px 25px 35px;
	background: rgba(239, 186, 84, 0.18);
	border-radius: 5px;
	margin-top: 35px;
	align-items: center;
}

.bell__block {
	display: flex;
	align-items: center;
}

.bell_image {
	margin-right: 20px;
}

.bell_title {
	font-weight: 500;
	font-size: 20px;
}

.button a {
	background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
	font-weight: 500;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	color: white;
}

/* MAIN */

main {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.main__block {
	width: 810px;
	margin-right: 35px;
}

.main__title {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 13px;
}

.list__block {
	display: flex;
	margin-bottom: 20px;
}

.list__block:last-child {
	margin: 0;
}

.block__image {
	margin-right: 20px;
}

.block__box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.block__title {
	font-size: 17px;
	font-weight: 500;
	line-height: 20.15px;
	color: #202020;
}

.block__subtitle {
	font-size: 15px;
	color: #434343;
	line-height: 17.78px;
	margin-top: 8px;
}

.block__date {
	color: #7688A4;
	display: flex;
	align-items: center;
}

.block__date::before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 20px;
	background: url(/img/icons/date.svg) no-repeat;
	margin-right: 5px;
}

aside {
	width: 390px;
	height: max-content;
	margin-top: 13px;
	padding: 16px 20px 18px;
	background: #F6F6F9;
	border-radius: 5px;
}

.aside__title {
	font-size: 20px;
	font-weight: 500;
	color: #202020;
	margin-bottom: 10px;
}

.aside__text {
	font-size: 17px;
	color: #202020;
	line-height: 20.15px;
	margin-bottom: 20px;
}

.aside__date {
	color: #7688A4;
	margin-bottom: 15px;
}

.aside__date:last-child {
	margin: 0;
}

.aside__line {
	width: 350px;
	height: 5px;
	background: #E4E4E4;
	margin-bottom: 20px;
}

.main__button {
	text-align: center;
	margin-top: 45px;
}

.main__link {
	padding: 10px 32px;
	background: #295093;
	border-radius: 5px;
	color: white;
}

		/* SECTION APP */

.section-app {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
	background: #F6F6F9;
	border-radius: 5px;
	overflow: hidden;
}

.app__image {
	filter: drop-shadow(0px 0px 8px rgba(117, 3, 242, 0.44));
}

.app_title {
	font-size: 24px;
	font-weight: 500;
	color: #295093;
	line-height: 28.44px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.app_subtitle {
	font-size: 18px;
	font-weight: 500;
	color: #333333;
	line-height: 21.33px;
}

.app__download {
	display: flex;
	align-items: center;
}

.download__google-play {
	margin-right: 20px;
}

		/* FOOTER */

.footer-wrapper {
	background: #295093;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	padding-top: 20px;
}

.top__title {
	font-size: 16px;
	font-weight: 700;
	padding: 12px;
	background: #133C82;
	color: white;
	border-radius: 5px;
}

.top__right {
	display: flex;
	align-items: center;
}

.right__text {
	font-weight: 500;
	color: white;
	margin-right: 17px;
}

.top__right_block {
	display: flex;
	align-items: center;
	padding: 11px;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.right__block_image {
	margin-right: 7px;
}

.right__block_link {
	font-weight: 500;
	color: #295093;
}

.footer__bottom {
	display: flex;
	margin-top: 20px;
	padding-top: 13px;
	padding-bottom: 13px;
	border-top: 3px solid #133C82;
}

.bottom__left {
	max-width: 430px;
	color: white;
	margin-right: 100px;
}

.bottom__title {
	font-weight: 500;
	line-height: 16.59px;
}

.bottom__subtitle {
	margin-top: 20px;
	line-height: 16.59px;
	word-spacing: 3px;
}

.bottom__center {
	margin-right: 100px;
}

.center__items {
	font-weight: 500;
	margin-bottom: 20px;
}

.center__items a {
	color: white;
}

.right__items {
	font-weight: 500;
	margin-bottom: 20px;
}

.right__items a {
	color: white;
}