		/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik:wght@400;500;700&display=swap');

		/* ---------- */

body {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
}

		/* HEADER */

.header-wrapper {
	overflow: hidden;
	background: #F6F6F9;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}

.header__left {
	display: flex;
	align-items: center;
}

.left__logo {
	margin-right: 28px;
	font-weight: 700;
	box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
}

.left__logo a {
	padding: 3px 6px;
	background: white;
	font-size: 28px;
	text-decoration: none;
	color: #295091;
	border-radius: 5px;
	box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
}

.left__list {
	display: flex;
	width: 250px;
	justify-content: space-between;
}

.currencies {
	font-weight: 700;
	color: #285193;
}

.list__items {
	font-size: 16px;
	color: #7A7A7A;
	font-size: 16px;
}

.header__right {
	display: flex;
}

.right__loupe {
	padding: 11px;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.right__language {
	display: flex;
	margin-left: 22px;
	cursor: pointer;
	background: white;
	padding: 11px;
	align-items: center;
}

.language__image {
	border-radius: 50%;
	margin-right: 7px;
}

.language__text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #535353;
}

.right__block {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-left: 44px;
	padding: 0 12px;
	cursor: pointer;
	background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
}

.right__link {
	font-size: 16px;
	margin-left: 7px;
	font-weight: 500;
	color: white;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	padding: 22px 24px;
	font-size: 19px;
	font-weight: 500;
	background: white;
	border-radius: 5px;
	margin-top: 40px;
	box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
}

.navbar a {
	color: #515151;
}

.navbar a:hover {
	color: #295093;
}

.nav__image {
	margin-top: 18px;
	margin-bottom: 23px;
	width: 100%;
	border: 1px solid #E0E0E0;
}

		/* MAIN */

main {
	margin-top: 17px;
	display: flex;
	justify-content: space-between;
}

.main__title {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 12px;
}

input:not(:last-child) {
	display: block;
	width: 600px;
	height: 50px;
	background: #F1F1F1;
	opacity: 0.3;
	border: 2px solid #285193;
	border-radius: 5px;
	padding-left: 16px;
	margin-bottom: 20px;
	color: #888888;
	font-size: 18px;
}

form input:nth-child(8) {
	display: block;
	width: 220px;
	height: 50px;
	margin-top: 70px;
}

form input:nth-child(7) {
	width: 220px;
	height: 50px;
}

textarea {
	width: 600px;
	height: 300px;
	opacity: 0.3;
	color: #888888;
	font-size: 18px;
	margin-bottom: 20px;
	padding: 16px 0 0 16px;
	background: #F1F1F1;
	border: 2px solid #285193;
	border-radius: 5px;
	resize: none;
}

.number__value {
	position: absolute;
	left: 290px;
	top: 1075px;
	font-size: 23px;
}

input[type="file"] {
	display: none;
}

label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 50px;
	position: absolute;
	font-size: 18px;
	color: #888888;
	background: #FBFBFB;
	opacity: 0.3;
	border: 2px solid #285193;
	border-radius: 5px;
}

.label__image {
	margin-left: 14px;
}

.btn {
	width: 220px;
	height: 50px;
	display: flex;
	background: #295093;
	color: white;
	padding: 15px 60px;
	font-size: 18px;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
}

.main__card {
	margin-top: 35px;
	width: 510px;
	height: 280px;
	border: 2px solid #BCC3CD;
	border-radius: 5px;
	box-shadow: -15px 8px 9px rgba(57, 57, 57, 0.25);
	padding: 25px;
}

.card__title {
	text-align: right;
	font-size: 28px;
	font-weight: 700;
	color: #295091;
	margin-bottom: 21px;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__left {
	color: #888888;
	font-size: 18px;
}

.card__left p:not(:last-child) {
	margin-bottom: 30px;
}

.card__right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.card__right p {
	color: #888888;
	font-size: 18px;
	margin-bottom: 9px;
}

.right__telegram {
	display: flex;
	align-items: center;
	background: #295091;
	border-radius: 5px;
	padding: 6px 10px;
	cursor: pointer;
	margin: 15px 0 22px 0;
}

.card__right__link {
	color: white;
}

		/* FOOTER */

.footer-wrapper {
	background: #295093;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	padding-top: 20px;
}

.top__title {
	font-size: 16px;
	font-weight: 700;
	padding: 12px;
	background: #133C82;
	color: white;
	border-radius: 5px;
}

.top__right {
	display: flex;
	align-items: center;
}

.right__text {
	font-weight: 500;
	color: white;
	margin-right: 17px;
}

.top__right_block {
	display: flex;
	align-items: center;
	padding: 11px;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.right__block_image {
	margin-right: 7px;
}

.right__block_link {
	font-weight: 500;
	color: #295093;
}

.footer__bottom {
	display: flex;
	margin-top: 20px;
	padding-top: 13px;
	padding-bottom: 13px;
	border-top: 3px solid #133C82;
}

.bottom__left {
	max-width: 430px;
	color: white;
	margin-right: 100px;
}

.bottom__title {
	font-weight: 500;
	line-height: 16.59px;
}

.bottom__subtitle {
	margin-top: 20px;
	line-height: 16.59px;
	word-spacing: 3px;
}

.bottom__center {
	margin-right: 100px;
}

.center__items {
	font-weight: 500;
	margin-bottom: 20px;
}

.center__items a {
	color: white;
}

.right__items {
	font-weight: 500;
	margin-bottom: 20px;
}

.right__items a {
	color: white;
}